.body-box {
    width: 100%;
    height: 90%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;    
}

/* 下方区域的布局 */

.sider-menu {
    margin-top: 10px;
    width: 17%;
    height: 100%;
    position: relative;
}

.content-box {
    width: 83%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.first-floor {
    height: 44%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 10px;
    margin-right: 10px;

}

.info-boxs {
    width: 69%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:0px 0px 0px 0.01rem #217093 inset;
     /* border: 0.02rem solid #217093; */
}

.info-box_child {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.park-info {
    width: 25%;
    height: 100%;
}

.feedback-box {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.control-boxs {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.control-box {
    width: 100%;
    height: 55%;
    box-shadow:0px 0px 0px 0.01rem #217093 inset;
}

.second-floor {
    height: 54%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.line-box {
    width: 69%;
    height: 95%;
    /* background-color: rgba(15, 19, 37, 0.7); */
    box-shadow:0px 0px 0px 0.01rem #217093 inset;
}

.line-icon {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.line-chart {
    width: 100%;
    height: 70%;
    position: relative;
}

.screeen-box {
    width: 30%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(15, 19, 37, 0.7); */
    box-shadow:0px 0px 0px 0.01rem #217093 inset;
}




*::-webkit-scrollbar {
    width: 10px;
    /* height: 10px;  */
    /* 高度写不写，都不影响，因为会根据内容的长度自动计算 */
}

*::-webkit-scrollbar-thumb {
    background: #ccc;
    /* 滑块颜色 */
    border-radius: 5px;
    /* 滑块圆角 */
}

/* 兼容Firefox、IE */
* {
    scrollbar-width: 10px;
    scrollbar-base-color: green;
    scrollbar-track-color: red;
    scrollbar-arrow-color: blue;
}